<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>

    <div id="app">
        <h2 class="mt-3">Activities Dashboard</h2>

        <div class="mt-3">
            <label for="statusFilter" class="form-label">Filter by Status:</label>
            <select id="statusFilter" class="form-select" v-model="selectedStatus" @change="filterTable">
                <option value="all">All</option>
                <option value="in progress">In Progress</option>
                <option value="to be completed">To be Completed</option>
                <option value="scheduled">Scheduled</option>
                <option value="completed">Completed</option>
            </select>
        </div>

        <table class="table mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Duration</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th> <!-- Aggiunta colonna per l'azione di dettaglio -->
                </tr>
            </thead>
            <tbody id="activities">
                <!-- Popoliamo la tabella con i dati di JavaScript -->
                <tr v-for="activity in filteredActivities" :key="activity.id">
                    <td>{{ activity.id }}</td>
                    <td>{{ activity.text_description }}</td>
                    <td>{{ activity.duration_minute }}</td>
                    <td>{{ activity.scheduled_date }}</td>
                    <td>{{ activity.status }}</td>
                    <td>
                        <button class="btn btn-primary" @click="viewDetails(activity.id)">View Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Bottone rosso lampeggiante -->
        <button class="btn btn-danger mt-3" id="flashButton">Invia un allert</button>
        <!-- Script per il lampeggiamento del pulsante -->
        <script src="flash-button.js"></script>
    </div>

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="script.js"></script>
</body>

</html>